apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: maeveyang/python-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          # --- 新增資源限制 ---
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi" # 限制 Flask 最大使用 512MB，保護 Worker Node
              cpu: "500m"
          # ------------------
          env:
            - name: DB_HOST
              value: "mysql-service"
            - name: DB_PORT
              value: "3306"
            # 注意：這裡的 name 改為 mysql-secret，與你剛才手動建的名稱一致
            - name: DB_NAME
              value: "charitydb" # 也可以直接給值，或從 Secret 讀取
            - name: DB_USER
              value: "root" # 通常 MySQL Root 密碼我們分開放
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret # 確保這跟 kubectl get secret 看到的名稱一樣
                  key: mysql-root-password
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
